*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slider-container {
    border: 5px solid blue;
    width: 30vw;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: khaki;
    color: #fff;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
  }
  .slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slide h1 {
    font-size: 5rem;
  }
  .person-img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .slide:nth-child(1) h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slide:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/man-2.webp) center/cover no-repeat;
      /* background-image: url(/man-2.webp); */
  }
  .slide:nth-child(3) {
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("man-3.webp") center/cover no-repeat; */
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/man-3.webp) center/cover no-repeat;
      /* background-image: url(/man-3.webp); */
  }
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
    position: relative;
  }
 
  .prevBtn,
  .nextBtn {
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: gray;
    transition:all 0.25s ease-in-out;
  }
  .prevBtn:hover,
  .nextBtn:hover {
    color: gray;
  }
  /* .slide:nth-child(1){
    left: 0;
  }
  .slide:nth-child(2){
    left: 100%;
  }
  .slide:nth-child(3){
    left: 200%;
  }
  .slide:nth-child(4){
    left: 300%;
  }
  .slide{
    transform: translateX(-200%);
  } */
  /* media quary */
  @media screen and (min-width: 576px) {
    .slider-container {
      height: 45vh;
    }
  }
  @media screen and (min-width: 768px) {
    .slider-container {
      height: 55vh;
    }
  }
  @media screen and (min-width: 992px) {
    .slider-container {
      height: 65vh;
    }
  }