*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .title{
    padding: 20px 60px;
    text-align: center;
}
.title h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.section-center{
    padding-bottom: 1rem;
    text-align: center;
}
.question-title{

} */
.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
    text-align: center;
  }
  .title h2 {
    color: gold;
    font-family: "Great Vibes", cursive;
    text-align: center;
  }
  .section-center {
    max-width: 620px;
    margin: auto;
  }
  .question {
    background: white;
    border-radius: 10px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
  }
  .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }
.question-title p{
    margin-bottom: 0;
    letter-spacing: 1px;
    color: gray;
}
.question-btn{
    font-size: 1.5rem;
    background-color: transparent;
    border: transparent;
    color: gold;
    transition: .5s;
}
.question-btn:hover{
    transform: rotate(90deg);
}
.qustion-text{
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgb(0,0,0,0.2);
}
.qustion-text p{
    margin-bottom: 0;
}
/* hide text */
.question-text {
    display: none;
  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  }