*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#fff;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: all .5s ease-in-out;
  }
  .hide-preloader {
    z-index: -999;
    visibility: hidden;
  }
  .nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 70px;
    background-color: blue;
  }
  .logo{
    width: 60px;
    height: 40px;
  }
  .nav-menu{
    display: flex;
  }
  .nav-list{
    margin: 0 30px;
  }
  .nav-link{
    color: #fff;
    font-size: 20px;
    transition: .5s;
  }
header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  h1 {
    color: #fff;
  }
  /* switch button */

.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition:all .5s ease-in-out;
  }
  .switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: red;
  }
  .switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
    border-radius: 10px;
    margin: 0;
    display: block;
    transition: all .5s ease-in-out;
  }
  .slide .switch {
    left: 50%;
  } 
  /* header after */
header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
 
